.ChatPage{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 910px;

  .contactList{
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  .contact{
    padding: 0px  15px 0px  30px;
    display: flex;
    align-items: center;
    height: 64px;
    img{
      width: 56px;
      height: 56px;
      border-radius: 50%;
    }
    .info{
      .small{
        text-align: center;
      }
    }
  }

  .contact:hover{
  background-color: aliceblue;
  }

  .contact:active{
    background-color: rgb(214, 235, 255);
  }

  .chatList{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 65%;
    height: 600px;
  }

  .chats{
    flex-wrap: no-wrap;
    overflow-y: scroll;
    margin-bottom: 20px;
  }

  .chatByFriend{
    background-color: #CADEFC;
    margin-bottom: 23px;
    padding: 20px 0px 0px 20px;
    height: 109px;
    img{
      width: 56px;
      height: 56px;
      border-radius: 50%;
    }
  }

  .chats label{
    font-weight: bold;
  }

  .chatByMe{
    border: 1px solid #CCA8E9;
    margin-bottom: 23px;
    padding: 20px 0px 0px 20px;
    height: 109px;
  }

  .chatWindow {
    display: flex;
    flex-direction: row;

    input {    
      width: 100%;
      height: 92px;
    }

    Button{
      width: 10%;
    }

  }

  .ProfileImg img{
    width: 40px;
    height: 40px;
  }
}
