footer{

    transform : translateY(50%);
    background-color: #C3BEF0;
    margin: 0 -11px;
    height: 200px;
    .container-fluid {
        height: 30px;
    }

    footer .contents{
        margin-left: 8%;
        padding-top: 1.5%;
        font-size: 1.2em;
    }
}
