h1{
    font-size: 1.2em;
}

.ManagementPage .navbar-nav{
    width: 100%;
}

.download{
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

.download p{
    margin-top: 5%;
    text-align: center;
    color: #2699FB;
}

.ManagementPage .nav-item{
    border: none;
}

.ManagementPage .active{
    font-size: 1.2em;
}

.sideBar{
    margin-top: 10%;
    margin-left: 5%;
}
.sideBar *{
display: block;
}


.sideBar button{
    width: 95%;
    text-align: left;
    background: white;
    border: none;
    font-size: 1.2em;
    height: 55px;
}

.sideBar i{
    margin-right: 10%;
    margin-left: 5%;
}


.manageBody h2{
    margin-top: 2%;
    margin-left: 2%;
    color :#9286f8;
}

.manageBody table{
    box-shadow: black;
    border: 1px solid #F5F6FA;
    margin-left: 2%;
    width: 90%;
    margin-top: 1.5%;
    
}

.manageBody select, h2{
    display: inline-block;
}

.manageBody select{
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    width: 150px;
    height: 50px;
    padding: 0;
    padding-left: 1%;
}





.manageBody table thead tr td:nth-child(1){
    width: 15%;
}

.manageBody table thead tr td:nth-child(2){
    width: 15%;
}
.manageBody table thead tr td:nth-child(3){
    width: 40%;
}
.manageBody table thead tr td:nth-child(4){
    width: 15%;
}
.manageBody table thead tr td:nth-child(5){
    width: 15%;
}
.manageBody *{
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.manageBody thead *{
    font-size: 1.2em;
    background: #F5F6FA;
}

.manageBody tbody *{
    font-size: 1.1em;
}

.manageBody table select{
    float: left;
    width: 100px;
    height: 50px;
    padding: 0;
    padding-left: 5%;
    font-size: 15px;
}


#large{
    margin-right: 8%;
}