.Navigation{
    background-color: #C3BEF0;

    nav div .logo{
        padding-left: 1%;
        
    }
    nav div .logo p {
        margin: 0;
        margin-top: 15%;
    }
    nav{
        width: 100%;
    }
    .search{
        position: relative;
        
    }
    
    #searchContent{
        width: 100%;
        height: 40px;
        padding-top: 1%;
        padding-bottom: 1%;
        border: none;
        padding-left: 5%;
    }
    .searchFrame{
        position: relative;
        margin-left: 10%;
        width: 70%;
    }
    
    .img-button {
    
        position: absolute;
        height: 40px;
        width: 40px;
        right: 0%;
        border: none;
        background-color: #C6B4EC;
        color: white;
    }
    
    
    nav div .search input::placeholder {
        color: #BCE0FD;
    }
    
    
    
    nav .row div{
        padding-top: 0.4%;
        padding-bottom: 0.4%;
        background-color: #C3BEF0;
    }
    
    .navRight{
        position: relative;
    }
    
    
    .icon{
        margin-left: 10%;
    }
    

    .icon i{
        padding-left: 20px;
        color: white;
        cursor: pointer;
    }
    .icon i:first-child{
        margin-right: 15%;
    }
    .icon i:hover{
        transform: scale(1.2);
    }
    .user .circleBox {
        margin-left: 20%;
        width: 60px;
        height: 40px; 
        border-radius: 70%;
        background: white;
        overflow: hidden;
        border: 1px solid white;
        position: relative;
        
    }
    .user {
        position: relative;
        padding-left: 5%;
    }
    

    .userStatus{
        position: absolute;
        left: 70%;
        top: 25%;
        color: white;
    }
    
    .userStatus i {
        margin-left: 10px;
        cursor: pointer;
    }
   
    
    .circleBox i {
        color: #C3BEF0;
        position: absolute;
        left: 28%;
        top: 28%;
    }

    .container{
        display: flex;
        max-width: 100%;
        height: 60px;
        flex-direction: row;
        justify-content: space-between;

        align-items: center;
        .logo{
            flex-grow: 1;
        }

        .search{
            flex-grow: 1;
        }

        .navRight{
            width: 0%;
            flex-grow: 1;
            display: flex;
            align-items: center;
            .icon{
                display: flex;
                
            }
            .user{  
                display: flex;
                margin-top: 1%;
            }
            .userDropBtn{
                margin-left: 200%;
                
                .dropdown-toggle{
                    background-color: #C3BEF0 !important;
                    border: none;
                    box-shadow:none;
                    font-size: 1.2em;
                }
                .dropdown-toggle:focus{
                    box-shadow: none;
                }


            }
        }
    }

    // @media(min-width: 1500px){
    //     .container{

    //     }
    // }

    
   
}